<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="06720de6-9727-4ea4-b37c-79ecc6fd0657" Version="1.0.0.0" Publisher="CN=Roma" />
  <Properties>
    <DisplayName>Pomodoro</DisplayName>
    <PublisherDisplayName>Roma</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Pomodoro" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="Pomodoro" ForegroundText="light" BackgroundColor="#24a207">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>